
<ion-header [translucent]="true">
  <ion-item class="ion-text-center">
    <ion-title class="ion-float-left">
      Personal Record Tracker
    </ion-title>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item href="loginform" class="ion-activated">
      <ion-label class="title-large">Click Here To Login</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="regform" class="ion-activated">
      <ion-label class="title-large">Click Here To Register</ion-label> 
    </ion-item>
  </ion-card>
</ion-content>
