<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Your Personal Records
    </ion-title>
    <ion-button  slot="start" size="small" color="primary" (click)="logout()">Logout</ion-button>
    <ion-button slot="end" size="small" color="primary" [routerLink]="['/addpr']">Add PR</ion-button>
  </ion-toolbar>
</ion-header>

  <ion-list>
    <app-pr *ngFor="let pr of prs | async" [pr]="pr"></app-pr>
  </ion-list>
  
</ion-content>